/* src/styles/globals.css */
@import "tailwindcss";

/* Ensure html and body take up full height */
html, body, #root { /* #root is often the div Vite mounts your app into */
  height: 100%;
  margin: 0;
  padding: 0;
}